<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Emek Makina</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Emek Makina">
    <meta name="author" content="Emek Makina">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/style.css">


</head>
<body>
    <div id="loader-wrapper">
        <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <header id="tt-header">
        <!-- tt-mobile menu -->
        <nav class="panel-menu mobile-main-menu">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">ANASAYFA</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="1">FORKLİFTLER</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="2">TRANSPALETLER</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="3">İSTİF MAKİNALARI</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">HAKKIMIZDA</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">İLETİŞİM</a></li>
            </ul>
            <div class="mm-navbtn-names">
                <div class="mm-closebtn">Kapat</div>
                <div class="mm-backbtn">Geri</div>
            </div>
        </nav>
        <!-- tt-mobile-header -->
        <div class="tt-mobile-header">
            <div class="container-fluid">
                <div class="tt-header-row">
                    <div class="tt-mobile-parent-menu">
                        <div class="tt-menu-toggle" id="js-menu-toggle">
                            <i class="icon-03"></i>
                        </div>
                    </div>
                    <!-- search -->
                    <div class="tt-mobile-parent-search tt-parent-box"></div>
                    <!-- /search -->
                    <!-- cart -->
                    <div class="tt-mobile-parent-cart tt-parent-box"></div>
                    <!-- /cart -->
                    <!-- account -->
                    <div class="tt-mobile-parent-account tt-parent-box"></div>
                    <!-- /account -->
                    <!-- currency -->
                    <div class="tt-mobile-parent-multi tt-parent-box"></div>
                    <!-- /currency -->
                </div>
            </div>
            <div class="container-fluid tt-top-line">
                <div class="row">
                    <div class="tt-logo-container">
                        <!-- mobile logo -->
                        <a class="tt-logo tt-logo-alignment" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/custom/logo.png" alt=""></a>
                        <!-- /mobile logo -->
                    </div>
                </div>
            </div>
        </div>
        <!-- tt-desktop-header -->
        <div class="tt-desktop-header">
            <div class="container">
                <div class="tt-header-holder">
                    <div class="tt-obj-logo">
                        <!-- logo -->
                        <a class="tt-logo tt-logo-alignment" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/custom/logo.png" alt=""></a>
                        <!-- /logo -->
                    </div>

                    <div class="tt-obj-menu">
                        <!-- tt-menu -->
                        <div class="tt-desctop-parent-menu tt-parent-box">
                            <div class="tt-desctop-menu tt-hover-02" id="js-include-desktop-menu">

                                <nav>
                                    <ul>
                                        <li class="dropdown tt-megamenu-col-01 tt-submenu">
                                            <a asp-area="" asp-controller="Home" asp-action="Index">ANASAYFA</a>
                                        </li>
                                        <li class="dropdown tt-megamenu-col-01 tt-submenu">
                                            <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="1">FORKLİFTLER</a>
                                        </li>
                                        <li class="dropdown tt-megamenu-col-01 tt-submenu">
                                            <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="2">TRANSPALETLER</a>
                                        </li>
                                        <li class="dropdown tt-megamenu-col-01 tt-submenu">
                                            <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="3">İSTİF MAKİNALARI</a>
                                        </li>
                                        <li class="dropdown tt-megamenu-col-01 tt-submenu">
                                            <a asp-area="" asp-controller="Home" asp-action="About">HAKKIMIZDA</a>
                                        </li>
                                        <li class="dropdown tt-megamenu-col-01 tt-submenu">
                                            <a asp-area="" asp-controller="Home" asp-action="Contact">İLETİŞİM</a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                        <!-- /tt-menu -->
                    </div>

                    <div class="tt-obj-options obj-move-right">
                        <!-- tt-search -->
                        <div class="tt-desctop-parent-search tt-parent-box">
                            <div class="tt-search tt-dropdown-obj">
                                <button class="tt-dropdown-toggle" data-tooltip="Arama" data-tposition="bottom">
                                    <i class="icon-f-85"></i>
                                </button>
                                <div class="tt-dropdown-menu">
                                    <div class="container">
                                        <form>
                                            <div class="tt-col">
                                                <input type="text" class="tt-search-input" placeholder="Ürünleri Ara...">
                                                <button class="tt-btn-search" type="submit"></button>
                                            </div>
                                            <div class="tt-col">
                                                <button class="tt-btn-close icon-g-80"></button>
                                            </div>
                                            <div class="tt-info-text">
                                                Ne arıyorsun?
                                            </div>
                                            <div class="search-results"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tt-search -->
                        <!-- tt-account -->
                        <div class="tt-desctop-parent-account tt-parent-box">
                            <div class="tt-account tt-dropdown-obj">
                                <button class="tt-dropdown-toggle" data-tooltip="Hesabım" data-tposition="bottom"><i class="icon-f-94"></i></button>
                                <div class="tt-dropdown-menu">
                                    <div class="tt-mobile-add">
                                        <button class="tt-close">Kapat</button>
                                    </div>
                                    <div class="tt-dropdown-inner">
                                        <ul>
                                            <li><a asp-controller="Home" asp-action="Index"><i class="icon-f-94"></i>Hesap</a></li>
                                            <li><a asp-controller="Home" asp-action="Index"><i class="icon-f-76"></i>Giriş Yap</a></li>
                                            <li><a asp-controller="Home" asp-action="Index"><i class="icon-f-77"></i>Çıkış yap</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tt-account -->
                        <!-- tt-langue and tt-currency -->
                        <div class="tt-desctop-parent-multi tt-parent-box">
                            <div class="tt-multi-obj tt-dropdown-obj">
                                <button class="tt-dropdown-toggle" data-tooltip="Ayarlar" data-tposition="bottom"><i class="icon-f-79"></i></button>
                                <div class="tt-dropdown-menu">
                                    <div class="tt-mobile-add">
                                        <button class="tt-close">Kapat</button>
                                    </div>
                                    <div class="tt-dropdown-inner">
                                        <ul>
                                            <li class="active"><a href="#">Türkçe</a></li>
                                            <li><a href="#">English</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tt-langue and tt-currency -->
                    </div>
                </div>
            </div>
        </div>



        <!-- /tt-desktop-header -->
        <!-- stuck nav -->
        <div class="tt-stuck-nav" id="js-tt-stuck-nav">
            <div class="container">
                <div class="tt-header-row ">
                    <div class="tt-stuck-parent-menu"></div>
                    <div class="tt-stuck-parent-search tt-parent-box"></div>
                    <div class="tt-stuck-parent-cart tt-parent-box"></div>
                    <div class="tt-stuck-parent-account tt-parent-box"></div>
                    <div class="tt-stuck-parent-multi tt-parent-box"></div>
                </div>
            </div>
        </div>
    </header>
    <div id="tt-pageContent">

        @RenderBody()

    </div>
    <footer id="tt-footer">
        <div class="tt-footer-default tt-color-scheme-02">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="tt-newsletter-layout-01">
                            <div class="tt-newsletter">
                                <div class="tt-mobile-collapse">
                                    <h4 class="tt-collapse-title">
                                        BİZİMLE İRTİBATA GEÇİN:
                                    </h4>
                                    <div class="tt-collapse-content">
                                        <form id="newsletterform" class="form-inline form-default" method="post" novalidate="novalidate" action="#">
                                            <div class="form-group">
                                                <input type="text" name="email" class="form-control" placeholder="E-postanızı giriniz">
                                                <button type="submit" class="btn">BİZE KATILIN</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-footer-col tt-color-scheme-01">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-2 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                Kategoriler
                            </h4>
                            <div class="tt-collapse-content">
                                <ul class="tt-list">
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">ANASAYFA</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="1">FORKLİFTLER</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="2">TRANSPALETLER</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="3">İSTİF MAKİNALARI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                İÇERİKLER
                            </h4>
                            <div class="tt-collapse-content">
                                <ul class="tt-list">
                                    <li><a asp-area="" asp-controller="Home" asp-action="About">HAKKIMIZDA</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">İLETİŞİM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                HAKKIMIZDA
                            </h4>
                            <div class="tt-collapse-content">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                İLETİŞİM
                            </h4>
                            <div class="tt-collapse-content">
                                <address>
                                    <p><span>Adres:</span> ORGANİZE SANAYİ BÖLGESİ, DOLAPDERE SANAYİ SİTESİ, 12. ADA NO: 38, KÜÇÜKÇEKMECE / İSTANBUL</p>
                                    <p><span>Telefon:</span> +90 533 094 97 54; +90 533 477 77 46</p>
                                    <p><span>Çalışma Saatleri:</span> Pazartesi - Cuma günleri 08:30-19:00 saatleri arasında hizmet vermektedir.</p>
                                    <p><span>E-Posta:</span> <a href="mailto:info@emekmak.com">info@emekmak.com</a></p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-footer-custom tt-color-scheme-04">
            <div class="container">
                <div class="tt-row">
                    <div class="tt-col-left">
                        <div class="tt-col-item tt-logo-col">
                            <a class="tt-logo tt-logo-alignment" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/custom/logo-white.png" alt=""></a>
                        </div>
                    </div>
                    <div class="tt-col-right">
                        <div class="tt-col-item">
                            <div class="tt-box-copyright">
                                &copy; Emek Makina 2023. Tüm Hakları Saklıdır
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="tt-boxedbutton">
        <a href="tel:+902164466464" class="rtlbutton external-link">
            <div class="box-btn" style="background-color:#2879fe">
                <i class="fa fa-phone"></i>
            </div>
        </a>
        <a href="https://wa.me/905330949754" target="_blank" class="rtlbutton external-link">
            <div class="box-btn" style="background-color:green">
                <i class="fa fa-whatsapp"></i>
            </div>
        </a>

    </div>
    <!-- modal (AddToCartProduct) -->
    <div class="modal  fade" id="modalAddToCartProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="tt-modal-addtocart mobile">
                        <div class="tt-modal-messages">
                            <i class="icon-f-68"></i> Added to cart successfully!
                        </div>
                        <a href="#" class="btn-link btn-close-popup">CONTINUE SHOPPING</a>
                        <a href="shopping_cart_02.html" class="btn-link">VIEW CART</a>
                        <a href="page404.html" class="btn-link">PROCEED TO CHECKOUT</a>
                    </div>
                    <div class="tt-modal-addtocart desctope">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="tt-modal-messages">
                                    <i class="icon-f-68"></i> Added to cart successfully!
                                </div>
                                <div class="tt-modal-product">
                                    <div class="tt-img">
                                        <img src="~/images/product/product-01.jpg" alt="">
                                    </div>
                                    <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                                    <div class="tt-qty">
                                        QTY: <span>1</span>
                                    </div>
                                </div>
                                <div class="tt-product-total">
                                    <div class="tt-total">
                                        TOTAL: <span class="tt-price">$324</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <a href="#" class="tt-cart-total">
                                    There are 1 items in your cart
                                    <div class="tt-total">
                                        TOTAL: <span class="tt-price">$324</span>
                                    </div>
                                </a>
                                <a href="#" class="btn btn-border btn-close-popup">CONTINUE SHOPPING</a>
                                <a href="shopping_cart_02.html" class="btn btn-border">VIEW CART</a>
                                <a href="#" class="btn">PROCEED TO CHECKOUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal (quickViewModal) -->
    <div class="modal  fade" id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="tt-modal-quickview desctope">
                        <div class="row">
                            <div class="col-12 col-md-5 col-lg-6">
                                <div class="tt-mobile-product-slider arrow-location-center">
                                    <div><img src="~/images/product/product-01.jpg" alt=""></div>
                                    <div><img src="~/images/product/product-01-02.jpg" alt=""></div>
                                    <div><img src="~/images/product/product-01-03.jpg" alt=""></div>
                                    <div><img src="~/images/product/product-01-04.jpg" alt=""></div>
                                    <!--
                                    //video insertion template
                                    <div>
                                        <div class="tt-video-block">
                                            <a href="#" class="link-video"></a>
                                            <video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-7 col-lg-6">
                                <div class="tt-product-single-info">
                                    <div class="tt-add-info">
                                        <ul>
                                            <li><span>SKU:</span> 001</li>
                                            <li><span>Availability:</span> 40 in Stock</li>
                                        </ul>
                                    </div>
                                    <h2 class="tt-title">Cotton Blend Fleece Hoodie</h2>
                                    <div class="tt-price">
                                        <span class="new-price">$29</span>
                                        <span class="old-price"></span>
                                    </div>
                                    <div class="tt-review">
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star-half"></i>
                                            <i class="icon-star-empty"></i>
                                        </div>
                                        <a href="#">(1 Customer Review)</a>
                                    </div>
                                    <div class="tt-wrapper">
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                    </div>
                                    <div class="tt-swatches-container">
                                        <div class="tt-wrapper">
                                            <div class="tt-title-options">SIZE</div>
                                            <form class="form-default">
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>21</option>
                                                        <option>25</option>
                                                        <option>36</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tt-wrapper">
                                            <div class="tt-title-options">COLOR</div>
                                            <form class="form-default">
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option>Red</option>
                                                        <option>Green</option>
                                                        <option>Brown</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tt-wrapper">
                                            <div class="tt-title-options">TEXTURE:</div>
                                            <ul class="tt-options-swatch options-large">
                                                <li>
                                                    <a class="options-color" href="#">
                                                        <span class="swatch-img">
                                                            <img src="~/images/custom/texture-img-01.jpg" alt="">
                                                        </span>
                                                        <span class="swatch-label color-black"></span>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a class="options-color" href="#">
                                                        <span class="swatch-img">
                                                            <img src="~/images/custom/texture-img-02.jpg" alt="">
                                                        </span>
                                                        <span class="swatch-label color-black"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="options-color" href="#">
                                                        <span class="swatch-img">
                                                            <img src="~/images/custom/texture-img-03.jpg" alt="">
                                                        </span>
                                                        <span class="swatch-label color-black"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="options-color" href="#">
                                                        <span class="swatch-img">
                                                            <img src="~/images/custom/texture-img-04.jpg" alt="">
                                                        </span>
                                                        <span class="swatch-label color-black"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="options-color" href="#">
                                                        <span class="swatch-img">
                                                            <img src="~/images/custom/texture-img-05.jpg" alt="">
                                                        </span>
                                                        <span class="swatch-label color-black"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tt-wrapper">
                                        <div class="tt-row-custom-01">
                                            <div class="col-item">
                                                <div class="tt-input-counter style-01">
                                                    <span class="minus-btn"></span>
                                                    <input type="text" value="1" size="5">
                                                    <span class="plus-btn"></span>
                                                </div>
                                            </div>
                                            <div class="col-item">
                                                <a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD TO CART</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modalVideoProduct -->
    <div class="modal fade" id="modalVideoProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-video">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-video-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal (ModalSubsribeGood) -->
    <div class="modal  fade" id="ModalSubsribeGood" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
                </div>
                <div class="modal-body">
                    <div class="tt-modal-subsribe-good">
                        <i class="icon-f-68"></i> You have successfully signed!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/external/jquery/jquery.min.js"><\/script>')</script>
    <script defer src="~/js/bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <a href="#" class="tt-back-to-top" id="js-back-to-top">BAŞA DÖNÜŞ</a>

</body>
</html>
