@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
        <div class="row">
            <div class="col-xs-12 col-md-11 col-lg-9">
                <div class="tt-about-box-02">
                    <h1 class="tt-title">
                        Wokiee is a global fashion destination for 20-somethings.
                        We sell cutting-edge fashion and offer a wide variety
                        of fashion-related content.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-indent">
    <div class="container-fluid-custom">
        <div class="tt-col-img">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <img src="~/images/custom/about1.jpg" alt="">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="~/images/custom/about2.jpg" alt="">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="~/images/custom/about3.jpg" alt="">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="~/images/custom/about4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding ">
        <div class="tt-about02-col-list">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="tt-title">OUR STORES</h5>
                    <div class="width-90">
                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor.
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="tt-title">İLETİŞİM</h5>
                    <div class="tt-box-info">
                        <p>
                            <span class="tt-base-dark-color">Adres:</span> ORGANİZE SANAYİ BÖLGESİ, DOLAPDERE SANAYİ SİTESİ,<br>
                            12. ADA NO: 38, KÜÇÜKÇEKMECE / İSTANBUL
                        </p>
                        <p>
                            <span class="tt-base-dark-color">Telefon:</span> +90 533 094 97 54:  +90 533 477 77 46
                        </p>
                        <p>
                            <span class="tt-base-dark-color">Saat:</span> Pazartesi - Cuma günleri 08:30-19:00 saatleri arasında hizmet vermektedir.
                        </p>
                        <p>
                            <span class="tt-base-dark-color">E-posta:</span> <a class="link" href="mailto:info@emekmak.com">info@emekmak.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
